.homeContainer {
  margin: 20px 100px;
  display: flex;
  gap: 100px;
  position: relative;
}
.homeContentContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.homeContainerLeftSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.homeContentLeftSide > img {
  width: 259px;
  height: 154px;
  object-fit: cover;
}
.homeContentRightSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.homeContentRightSideBtn {
  display: flex;
  gap: 5px;
  align-items: center;
}
.homeContentRightSideLink {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}
.homeContentRightSideBtn > button:nth-child(2) {
  background-color: #4299e1;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
.updatePostContainer {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgb(233, 220, 220);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.updateBoxBtn{
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.homeContainerRightSide > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.homeContainerRightSide > form > label {
  display: flex;
  gap: 10px;
}
.homeContainerRightSide > form > label > input {
  outline: none;
  padding-left: 10px;
}
.homeContainerRightSide > form  button {
  background-color: #4299e1;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 10px;
  width: 50%;
}
